@CHARSET "UTF-8";
BODY {
	font-family:'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#footer {
	height: 50px;
}

.smallCell {
    max-width: 20px;
}

.rectangle {
    width: 580px !important;
    height: 350px;
}

.statistic {
	width: 100%;
}

#content {
	width: 80%;
	margin-left: 20px;
	margin-top: 50px;
    position: relative;
}

.ui.secondary.menu .dropdown.item>.menu, .ui.text.menu .dropdown.item>.menu {
     margin-top: 0px; 
}

.error_class {
	border: solid 2px #FF0000 !important;
}

.dataTables_filter {
	margin-bottom:20px;
}

.resizeChart {
	display: block;
    width: 290px;
    height: 290px;
}

.groupLable {
	color: #757575;
}

.ui.special.cards {
    padding-left: 20px;
}

.center {
	margin: auto;
    padding: 10px;
}

.backgroundGreen {
	background-color: #92d050;
}

.backgroundGreenBright {
	background-color: #bdd34d;
}


.backgroundYellow {
	background-color: #FFCE56;
}

.backgroundYellowDark {
	background-color: #fda52f;
}

.backgroundRed {
	background-color: #DB2828;
}

.textGreen {
	color: #92d050;
}

.textGreenBright {
	color: #bdd34d;
}


.textYellow {
	color: #FFCE56;
}

.textYellowDark {
	color: #fda52f;
}

.textRed {
	color: #DB2828;
}


[id^='form_send'] > .two.fields > .field > label,
[id^='form_send'] > .field > label {
	float: left;
}

[id^='form_send'] > .two.fields > .field > span,
[id^='form_send'] > .field > span {
	float: right;
	color: red;
}