<script src="/js/jquery-3.2.0.min.js" type="text/javascript"></script>
<script src="/js/configTables.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$('#context .menu .item')
	.tab({
	  context: $('#context')
	});
});
</script>

<html xmlns:th="http://www.thymeleaf.org" th:include="../templates/masterTemplate :: page">
	<div th:fragment="content">
		<h1>Konfiguration</h1>
		<div id="context">
		  <div class="ui pointing secondary menu">
		    <a class="item active" data-tab="default">Unternehmung</a>
		    <a class="item" data-tab="kunden">Kunden</a>
		    <a class="item" data-tab="mitarbeiter">Mitarbeiter</a>
		  </div>
		  <div class="ui active tab segment" data-tab="default">
				<form class="ui form" th:action="${postAction}" th:object="${configDetails}" method="post" id="form_send">
		            <!-- <input type="text" name="projectDetail.id" th:value="*{id}" /> -->
					<h4 class="ui dividing header">Unternehmen</h4>					
					<div class="field">	
				        <input class="field disabled" style="display:none;" type="text" name="configDetails.id" th:value="*{getId()}" />	
			        </div>			
					<div class="field">				      	
						<label>Name</label><span id="textedit_name_error">Name darf nicht leer sein!</span>
						<input type="text" name="configDetails.companyName" th:value="*{getCompanyName()}" id="textedit_name"/>
					</div>				
					<div class="field">				      	
						<label>Adresse</label><span id="textedit_addr_error">Adresse darf nicht leer sein!</span>
						<input type="text" name="configDetails.adress" th:value="*{getAdress()}" id="textedit_addr"/>
					</div>	
			        <div class="two fields">				      
						<div class="field">	
					    	<label>PLZ</label><span id="textedit_plz_error">PLZ darf nicht leer sein!</span>
					        <input class="field" type="text" name="configDetails.zip" th:value="*{getZipCode()}" id="textedit_plz"/>	
				        </div>		
				        <div class="field">      	
					    	<label>Ort</label><span id="textedit_ort_error">Ort darf nicht leer sein!</span>
					        <input type="text" name="configDetails.state" th:value="*{getState()}" id="textedit_ort"/>
					    </div>
					</div>
					<div class="field">				      	
						<label>Lizenzschlüssel</label><span id="textedit_lic_error">Lizenzschlüssel darf nicht leer sein!</span>
						<input type="text" name="configDetails.licenceKey" th:value="*{getLicenceKey()}" id="textedit_lic"/>
					</div>	
					<div class="field">				      	
						<label>Ablaufsdatum</label>
						<input type="date" name="configDetails.expiryDate" th:value="*{getExpiryDate()}"/>
					</div>		
					<a href="/" class="mini ui button" th:onclick="'window.history.back();'">Abbrechen</a>
					<button class="ui primary button" type="submit" id="config_btn_submit">Speichern</button>
		        </form>		
		  </div>
		  <div class="ui tab segment" data-tab="kunden">
		    <table id="customer" class="ui blue celled table" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th>ID</th>
		                <th>Name</th>
		                <th>Vorname</th>
		                <th>Telefon</th>
		                <th>E-Mail</th>
		                <th>Unternehmung</th>
		                <th>Addresse</th>
		                <th>PLZ</th>
		                <th>Ort</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>ID</th>
		                <th>Name</th>
		                <th>Vorname</th>
		                <th>Telefon</th>
		                <th>E-Mail</th>
		                <th>Unternehmung</th>
		                <th>Addresse</th>
		                <th>PLZ</th>
		                <th>Ort</th>
		            </tr>
		        </tfoot>
		    </table>
		    <input id="addCustomer" class="mini ui primary button" type="button" value="Neuer Kunde anlegen"/>
		  </div>
		  <div class="ui tab segment" data-tab="mitarbeiter">
		    <table id="employee" class="ui blue celled table" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th>ID</th>
		                <th>Vorname</th>
		                <th>Nachname</th>
		                <th>Abteilung</th>
		                <th>Funktion</th>
		                <th>Stundenlohn</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>ID</th>
		                <th>Vorname</th>
		                <th>Nachname</th>
		                <th>Abteilung</th>
		                <th>Funktion</th>
		                <th>Stundenlohn</th>
		            </tr>
		        </tfoot>
		    </table>	
		    <input id="addEmployee" class="mini ui primary button" type="button" value="Neuer Mitarbeiter anlegen"/>
		  </div>
		</div>		
		<div th:each="employee : ${employeeCollection}">
			<div class="ui modal employee" th:classappend="${employee.getId()}">
			  <i class="close icon"></i>
			  <div class="header">
			    <span th:text="${employee.getFirstname()}"></span>&nbsp;<span th:text="${employee.getLastname()}"></span>
			  </div>
			  <div class="content">
				<form class="ui form" th:action="${postActionEmployee}" th:object="${employee}" method="post">
		            <!-- <input type="text" name="projectDetail.id" th:value="*{id}" /> -->
					<h4 class="ui dividing header">Mitarbeiter Informationen</h4>					
					<div class="field">	
				    <label>ID</label>
				        <input class="field disabled" type="text" name="employee.id" th:value="*{getId()}" />	
			        </div>			
					<div class="field">				      	
						<label>Vorname</label>
						<input type="text" name="employee.firstname" th:value="*{getFirstname()}" />
					</div>				
					<div class="field">				      	
						<label>Nachname</label>
						<input type="text" name="employee.lastname" th:value="*{getLastname()}" />
					</div>	
					<div class="field">				      	
						<label>Abteilung</label>
						<input type="text" name="employee.section" th:value="*{getSection()}" />
					</div>	
					<div class="field">				      	
						<label>Funktion</label>
						<input type="text" name="employee.function" th:value="*{getFunction()}" />
					</div>
					<div class="field">				      	
						<label>Stundenlohn</label>
						<input type="text" name="employee.rate" th:value="*{getRate()}" />
					</div>		
					<button class="ui primary button" type="submit" >Speichern</button>
		        </form>				
			  </div>
			</div>
		</div>				
		<div th:each="customer : ${customerCollection}">
			<div class="ui modal customer" th:classappend="${customer.getId()}">
			  <i class="close icon"></i>
			  <div class="header">
			    <span th:text="${customer.getFirstname()}"></span>&nbsp;<span th:text="${customer.getName()}"></span>
			  </div>
			  <div class="content">
				<form class="ui form" th:action="${postActionCustomer}" th:object="${customer}" method="post" >
					<h4 class="ui dividing header">Kunden Informationen</h4>					
					<div class="field">	
				    <label>ID</label>
				        <input class="field disabled" type="text" name="customer.id" th:value="*{getId()}" />	
			        </div>			
					<div class="field">				      	
						<label>Vorname</label>
						<input type="text" name="customer.firstname" th:value="*{getFirstname()}" />
					</div>				
					<div class="field">				      	
						<label>Nachname</label>
						<input type="text" name="customer.name" th:value="*{getName()}" />
					</div>	
					<div class="field">				      	
						<label>Telefon</label>
						<input type="text" name="customer.phone" th:value="*{getPhone()}" />
					</div>	
					<div class="field">				      	
						<label>E-Mail</label>
						<input type="text" name="customer.email" th:value="*{getEmail()}" />
					</div>
					<div class="field">				      	
						<label>Unternehmen</label>
						<input type="text" name="customer.company" th:value="*{getCompany()}" />
					</div>	
					<div class="field">				      	
						<label>Addresse</label>
						<input type="text" name="customer.adress" th:value="*{getAdress()}" />
					</div>
					<div class="field">				      	
						<label>PLZ</label>
						<input type="text" name="customer.zipCode" th:value="*{getZipCode()}" />
					</div>
					<div class="field">				      	
						<label>Ort</label>
						<input type="text" name="customer.state" th:value="*{getState()}" />
					</div>	
					<button class="ui primary button" type="submit">Speichern</button>
		        </form>						
			  </div>
			</div>
		</div>		
		<div class="ui modal employee empty">
		  <i class="close icon"></i>
		  <div class="header">
		    <span>Neuer Mitarbeiter anlegen</span>
		  </div>
		  <div class="content">
			<form class="ui form" th:action="${postActionEmployee}" th:object="${emptyEmployee}" method="post" id="form_send4">
	            <!-- <input type="text" name="projectDetail.id" th:value="*{id}" /> -->
				<h4 class="ui dividing header">Mitarbeiter Informationen</h4>					
				<div class="field">	
			    <label>ID</label>
			        <input class="field disabled" type="text" name="employee.id" th:value="*{getId()}" />	
		        </div>			
				<div class="field">				      	
					<label>Vorname</label><span id="textedit_NEfirstname_error">Vorname darf nicht leer sein!</span>
					<input type="text" name="employee.firstname" th:value="*{getFirstname()}" id="textedit_NEfirstname"/>
				</div>				
				<div class="field">				      	
					<label>Nachname</label><span id="textedit_NElastname_error">Nachname darf nicht leer sein!</span>
					<input type="text" name="employee.lastname" th:value="*{getLastname()}" id="textedit_NElastname"/>
				</div>	
				<div class="field">				      	
					<label>Abteilung</label><span id="textedit_NEsection_error">Abteilung darf nicht leer sein!</span>
					<input type="text" name="employee.section" th:value="*{getSection()}" id="textedit_NEsection"/>
				</div>	
				<div class="field">				      	
					<label>Funktion</label><span id="textedit_NEfunc_error">Funktion darf nicht leer sein!</span>
					<input type="text" name="employee.function" th:value="*{getFunction()}" id="textedit_NEfunc"/>
				</div>
				<div class="field">				      	
					<label>Stundenlohn</label><span id="textedit_NEwage_error">Stundenlohn darf nicht leer sein!</span>
					<input type="number" name="employee.rate" th:value="*{getRate()}" id="textedit_NEwage"/>
				</div>		
				<button class="ui primary button" type="submit" id="config_btn_submit4">Speichern</button>
        	</form>						
		   </div>
		</div>		
		<div class="ui modal customer empty">
		  <i class="close icon"></i>
		  <div class="header">
		    <span>Neuer Kunde anlegen</span>
		  </div>
		  <div class="content">
			<form class="ui form" th:action="${postActionCustomer}" th:object="${emptyCustomer}" method="post" id="form_send5">
				<h4 class="ui dividing header">Kunden Informationen</h4>					
				<div class="field">	
			    <label>ID</label>
			        <input class="field disabled" type="text" name="customer.id" th:value="*{getId()}" />	
		        </div>			
				<div class="field">				      	
					<label>Vorname</label><span id="textedit_NCfirstname_error">Vorname darf nicht leer sein!</span>
					<input type="text" name="customer.firstname" th:value="*{getFirstname()}" id="textedit_NCfirstname"/>
				</div>				
				<div class="field">				      	
					<label>Nachname</label><span id="textedit_NClastname_error">Nachname darf nicht leer sein!</span>
					<input type="text" name="customer.name" th:value="*{getName()}" id="textedit_NClastname"/>
				</div>	
				<div class="field">				      	
					<label>Telefon</label><span id="textedit_NCphone_error">Telefon darf nicht leer sein!</span>
					<input type="text" name="customer.phone" th:value="*{getPhone()}" id="textedit_NCphone"/>
				</div>	
				<div class="field">				      	
					<label>E-Mail</label><span id="textedit_NCmail_error">E-Mail darf nicht leer sein!</span>
					<input type="text" name="customer.email" th:value="*{getEmail()}" id="textedit_NCmail"/>
				</div>
				<div class="field">				      	
					<label>Unternehmen</label><span id="textedit_NCplant_error">Unternehmen darf nicht leer sein!</span>
					<input type="text" name="customer.company" th:value="*{getCompany()}" id="textedit_NCplant"/>
				</div>	
				<div class="field">				      	
					<label>Addresse</label><span id="textedit_NCadress_error">Addresse darf nicht leer sein!</span>
					<input type="text" name="customer.adress" th:value="*{getAdress()}" id="textedit_NCadress"/>
				</div>
				<div class="field">				      	
					<label>PLZ</label><span id="textedit_NCplz_error">PLZ darf nicht leer sein!</span>
					<input type="text" name="customer.zipCode" th:value="*{getZipCode()}" id="textedit_NCplz"/>
				</div>
				<div class="field">				      	
					<label>Ort</label><span id="textedit_NCplace_error">Ort darf nicht leer sein!</span>
					<input type="text" name="customer.state" th:value="*{getState()}" id="textedit_NCplace"/>
				</div>	
				<button class="ui primary button" type="submit" id="config_btn_submit5">Speichern</button>
	        </form>						
		  </div>
		</div>
		<script src="/js/custom.js" type="text/javascript"></script>		
	</div>
</html>