<html xmlns:th="http://www.thymeleaf.org" th:include="../templates/masterTemplate :: page">
	<div th:fragment="content">
		<h1>Portfolios</h1>		
		<div class="ui special cards">
		  <div class="card" th:each="portfolio : ${portfolioCollection}">
		    <div style="background-color: #ffffff;" class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">Zum Portfolio</div>
		          </div>
		        </div>
		      </div>
		      <a href="" th:href="${'/portfolio?id=' + portfolio.getId()}">
				<img class="ui mini" th:attr="src=@{|http://localhost:4567/images/state_${portfolio.getStatus()}.png|}"/></a>
		    </div>
		    <div class="content">
		      <a href="" th:href="${'/portfolio?id=' + portfolio.getId()}" class="header" th:text="${portfolio.getName()}"></a>
		      <div class="meta">
		        <span class="date" th:text="${portfolio.getDescription()}"></span>
		      </div>
		    </div>
		    <div class="ui bottom attached buttons">
		       <a class="ui primary button" href="" th:href="${'/portfolio?id=' + portfolio.getId()}">
		        <i class="browser icon"></i>
		        <span th:text="${portfolio.getProjectNumber()}"></span> Projekte
		      </a>
		    </div>
		  </div>
		  <div class="card">
		    <div style="background-color: #ffffff;" class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">Neues Portfolio</div>
		          </div>
		        </div>
		      </div>		      
		      <a href="/portfolio/edit"><img class="ui mini" src="/images/plus.png"/></a>
		    </div>
		    <div class="content">
		    </div>
		    <div class="ui bottom attached buttons">
		       <a class="ui primary button" href="/portfolio/edit">
		        <i class="browser icon"></i>
		        <span>Neues Portfolio anlegen</span>
		      </a>
		    </div>
		  </div>
		</div>
	</div>
</html>