<html xmlns:th="http://www.thymeleaf.org" th:include="../templates/masterTemplate :: page">
	<div th:fragment="content">
		<h1 th:text="${'Welcome ' }+ ${userName} + ${'! This is Thymeleaf.'}" >Dummy Title To Be Replaced By Thymeleaf</h1>
		<div th:text="${message}">Message from the model:</div>
		<ul>
			<li th:each="schema : ${schemas}" th:text="${schema}">Dummy Item</li>
		</ul>
		<a href="/th">Return </a>
	</div>
</html>