<html xmlns:th="http://www.thymeleaf.org" th:include="../templates/masterTemplate :: page">
	<div th:fragment="content">
		<h1>Hoppla, ein Fehler ist aufgetreten.</h1>
		<div th:text="${errorMessage}"></div>
		<div>Klicken Sie <a href="/">hier</a> um auf die Startseite zu gelangen.</div>
	</div>	
</html>