<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
	<title>PPM Tool Maracuja</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/semantic/semantic.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/basic.css" />
    <script src="/js/jquery-3.2.0.min.js" type="text/javascript"></script>
	<script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/semantic/semantic.min.js" type="text/javascript"></script>
    <script src="/js/Chart.bundle.min.js" type="text/javascript"></script>  
    <script src="/js/tablesort.js" type="text/javascript"></script>    
    <script>
	    $( document ).ready(function() {
	        $('table').tablesort();	
	        $.getJSON("/search", function( data ) {
	        
		    $('.item.ui.search')
		    .search({
		      source: data,
		      fields: {
		        title   : 'name',
		        description: 'description',
		        url     : 'url'
		      },
              searchFields : ['description', 'name'],
		      selectFirstResult: true,
		    });
	      });        
	    });
    </script>
</head>

<body>
	<div class="ui secondary  menu">
	  <div class="item">
	    <a href="/"><img class="ui small image" src="/images/maracuja.png"/></a>
	  </div>
	  <div class="right menu">
	  	  <a href="/" class="item"><i class="large home icon"/>Start</a>	  	
		  <div class="ui simple dropdown item">
		    <i class="large Dashboard icon"></i>Portfolios
		    <i class="dropdown icon"></i>
			<div class="menu">
				<div th:each="portfolio : ${portfolioCollection}">
		      		<a class="item" href="" th:href="${'/portfolio?id=' + portfolio.getId()}" th:text="${portfolio.getName()}"></a>
				</div>
		    </div>
		</div>
		<div class="ui simple dropdown item">
		    <i class="large product hunt icon"></i>Projekte
		    <i class="dropdown icon"></i>
			<div class="menu">
				<div th:each="menuProjcet : ${projectCollection}">
		      		<a class="item" href="" th:href="${'/project?id=' + menuProjcet.getId()}" th:text="${menuProjcet.getName()}"></a>
				</div>
		    </div>
		</div>
	    <div class="item ui search"> 
	      <div class="ui left icon input">
	        <input class="prompt" type="text" placeholder="Suchen..."/>
	        <i class="search link icon"></i>
	      </div>
	    </div>	    
	  	<a href="/config" class="item"><i class="large settings icon"/>Einstellungen</a>
	  </div>
	</div>	
    <div id="content" class="ui container" th:include="this :: content"></div>
    <div id="footer"></div>
</body>
</html>