<html xmlns:th="http://www.thymeleaf.org" th:include="../templates/masterTemplate :: page">
	<div th:fragment="content">
			<h1>Portfolios</h1>
			<div th:if="${not #lists.isEmpty(portfolioCollection)}">
				<table class="ui blue sortable celled table">
	  				<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Beschreibung</th>
							<th>Status</th>
							<th>fk_config</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="portfolio : ${portfolioCollection}">
							<td th:text="${portfolio.getId()}"></td>
							<td th:text="${portfolio.getName()}"></td>
							<td th:text="${portfolio.getDescription()}"></td>
							<td th:text="${portfolio.getStatus()}"></td>
							<td>								
								<a href="" th:href="${'/portfolio?id=' + portfolio.getId()}"><i class="unhide icon"></i></a>							
								<a href="" th:href="${'/portfolio/edit?id=' + portfolio.getId()}"><i class="write icon"></i></a>
								<a href="#" th:onclick="'confirmDelete(\'' + ${portfolio.getId()} + '\');'"><i class="trash icon"></i></a>
							</td>
						</tr>
				  </tbody>
				</table>
				<a class="mini ui primary button" href ="/portfolio/edit">Portfolio erstellen</a>
			</div>   
			<script type="text/javascript">
				function confirmDelete(idToDelete){
					var r = confirm("Delete the portfolio?");
					if (r == true) {
						//delete portfolio
					    window.location.href = "/portfolio/delete?id=" + idToDelete;
					} 
					//else abort
				}
			</script>
	</div>
</html>