<html xmlns:th="http://www.thymeleaf.org" th:include="../templates/masterTemplate :: page">
	<div th:fragment="content">
		<h1>Projekte</h1>
		<div th:if="${not #lists.isEmpty(projectCollection)}">
			<table class="ui blue sortable celled table">
  				<thead>
					<tr>
						<th>ID</th>
						<th>IsActive</th>
						<th>Name</th>
						<th>Beschreibung</th>
						<th>Status</th>
						<th>Portfolio</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="project : ${projectCollection}">
						<td th:text="${project.getId()}"></td>
						<td th:text="${project.getIsActive()}"></td>
						<td th:text="${project.getName()}"></td>
						<td th:text="${project.getDescription()}"></td>
						<td th:text="${project.getStatus().getStatus()}"></td>
						<td th:text="${project.getPortfolio().getName()}"></td>
						<td>
							<a href="" th:href="${'/project?id=' + project.getId()}"><i class="unhide icon"></i></a>							
							<a href="" th:href="${'/project/edit?id=' + project.getId()}"><i class="write icon"></i></a>
							<a href="#" th:onclick="'confirmDelete(\'' + ${project.getId()} + '\');'"><i class="trash icon"></i></a>
						</td>
					</tr>
			  </tbody>
			</table>
				<a class="mini ui primary button" href ="/project/edit">Projekt erstellen</a>
			<script type="text/javascript">
				function confirmDelete(idToDelete){
					var r = confirm("Delete the project?");
					if (r == true) {
						//delete project
					    window.location.href = "/project/delete?id=" + idToDelete;
					} 
					//else abort
				}
			</script>
		</div> 
	</div>
</html>